
<%= form_tag add_attrib_items_path, method: :post, remote: true, 
      id: 'list_attrib', class: 'bootstrap-frm', style: 'width: 80%' do %>
<h1>Add Attribute</h1>
  <ul class="two_columns">  
  <% Attrib.active.each do | attrib | %>
    <li>
      <%=check_box_tag 'attrib[]', attrib.id, false, id: "attrib_#{attrib.id}"%>
      <%=label_tag attrib.name %>
    </li>
  <% end %>
  </ul>
  <%=button_tag 'Select', class: 'pos_action'%>
<% end %>

<%=javascript_tag do %>
  setTimeout(function() {
    $('#list_attrib input[type="checkbox"]:first').focus();
    }, 250);
<% end %>

<a id="close" class="close-reveal-modal">&#215;</a>