<div id="purchase_order_show_details">

<% if purchase_order && purchase_order.created_at.to_date == Date.today %>

  <div class="row">
    <div class="column small-12">
      <div data-alert class="alert-box success">
        * NEW PURCHASE ORDER CREATED TODAY
      </div>
    </div>
  </div>

<% end %>

<%if purchase_order %>
  
  <div class="row">

    <div class="column small-8">
      <span style="font-size: 150%">PO#</span>
      &nbsp;
      &nbsp;
      &nbsp;
      <strong style="font-size: 250%"><%= purchase_order.po_id %></strong>
    </div>

    <div class="column small-4">
      <div class="row">
        <span class="label"><%= purchase_order.status %></span>
      </div>
      <div class="row">
        <strong>Date:</strong>
        <%= purchase_order.po_date_short_format %>
      </div>
    </div>

  </div>
  

  <%=div_row(12) do %>
    <span style="font-size: 200%"><%= purchase_order.supplier.name %></span>
  <% end %>


  <%=div_row(12) do %>
  <strong>Notes:</strong>
  <%= purchase_order.notes %>
  <% end if purchase_order.notes%>
  <!--%= link_to 'Edit', edit_purchase_order_path(purchase_order) %-->

  <br/>

  <table id="po_detail">
    <thead>
      <tr>
        <th>Name</th>
        <th style="width: 4em">Quantity</th>
      </tr>
    </thead>

    <tbody>
      <% Item.all.each do | item | %>
        <tr>
          <td><%=item.name%></td>
          <td>100</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%=link_to 'Add Item', autocomplete_items_path, class: 'tiny button', remote: true%>

<% else %>
  No Purchase Order Selected.
<%end%>

</div>