<div id="purchase_order_show_details">
<%if purchase_order %>
<p id="notice"><%= notice %></p>

<p>
  <strong>PO#</strong>
  <%= purchase_order.po_id %>
</p>


<p>
  <strong>Supplier:</strong>
  <%= purchase_order.supplier.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= purchase_order.status %>
</p>
<p>
  <strong>Date:</strong>
  <%= purchase_order.date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= purchase_order.notes %>
</p>


<%= link_to 'Edit', edit_purchase_order_path(purchase_order) %>

<% else %>
  No Purchase Order Selected.
<%end%>

</div>