<h1>Purchase Orders</h1>


  <label>Supplier</label>
  <%=select_tag :po_supplier, 
    options_from_collection_for_select(Supplier.all, 'id', 'name', @supplier_id), style: "height: 2.5em;font-size:150%;font-weight:bolder" %>
<br/>


<table id="item_selector">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Pending Orders</th>
      <th>Order Qty</th>
      
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<%=javascript_tag do %>
  $(document).ready( function () {

  columns = <%=raw @items_datatable.columns %>;
  columnDefs = [{
    "orderable": false, "targets": [0,-1,-2]
  }];

  $('#item_selector').dataTable( {
      "stateSave": true,
      "lengthChange": false,
      "paging": true,
      "pageLength": 100,
      "scrollY": "400px",
      "scrollCollapse": true,
      "pagingType": "simple_numbers",
      "jQueryUI": false,
      "processing": true,
      "serverSide": true,
      "searching": true,
      "ajax": {"url": "<%=json_items_path%>", "type": "POST"},
      "columns": columns,
      "columnDefs": columnDefs,
      "order": [[1, 'asc']],
      "dom": 'Tlfrtip',
      "tableTools" : {
        "aButtons": [
          {
            "sExtends": "pdf",
            "sButtonText": "PDF",
            "mColumns": [ 1, 2, 3 ]
          }]
      }
  } );

} );

<% end %>

<br/>
<br/>

<div class="row">

  <!-- START COLUMN 1 -->
  <div class="small-5 large-3 columns">
    <div class="po_panel">
        <ul class="po_date_filter po_filter_spacings">
          <li>From</li>
          <li>To</li>
          <li><%=date_field(:from, :date_filter)%></li>
          <li><%=date_field(:to, :date_filter)%></li>
        </ul>

        <ul class="po_filter po_filter_spacings">
          <li>Supplier</li>
          <li><%=select_tag :po_supplier, 
            options_from_collection_for_select(Supplier.all, 'id', 'name', @supplier_id)%>
          </li>
          <li>Status</li>
          <li>
            <%=select_tag :po_status, options_for_select(['PENDING', 'CONFIRMED'], @status)%>
          </li>
        </ul>
    </div>

    <%= link_to 'New Purchase Order', 
          new_purchase_order_path, class: 'expand tiny button', 
          remote: true, id: 'new_purchase_order',
          data: { confirm: 'Create New Purchase Order?'} %>

    <div class="po_panel">

      <div id="po_list">
      <%=render partial: 'purchase_orders/table', locals: {purchase_orders: @purchase_orders} %>
      </div>
    </div>

    
  </div>
  <!-- END COLUMN 1 -->


  <div class="small-7 large-5 columns end">
    <div id="pos_details">
      <%=render partial: 'purchase_orders/show', locals: {purchase_order: @purchase_order, status: @status}%>
    </div>
  </div>

</div>

<%=javascript_tag do %>

purchase_order_index_init_listeners();

<% end %>