<h1>Purchase Orders</h1>

<div class="row">

  <!-- START COLUMN 1 -->
  <div class="small-5 columns">
    <div class="po_panel">
        <ul class="po_date_filter po_filter_spacings">
          <li>From</li>
          <li>To</li>
          <li><%=date_field(:from, :date_filter)%></li>
          <li><%=date_field(:to, :date_filter)%></li>
        </ul>

        <ul class="po_filter po_filter_spacings">
          <li>Supplier</li>
          <li><%=select_tag :po_supplier, 
            options_from_collection_for_select(Supplier.all, 'id', 'name', @supplier_id), 
            include_blank: true%>
          </li>
          <li>Status</li>
          <li>
            <%=select_tag :po_status, options_for_select(['PENDING', 'CONFIRMED'], @status)%>
          </li>
        </ul>
    </div>

    <%= link_to 'New Purchase order', new_purchase_order_path, class: 'expand tiny button', remote: true, id: 'new_purchase_order' %>

    <div class="po_panel">

      <div id="po_list">
      <%=render partial: 'table', locals: {purchase_orders: @purchase_orders} %>
      </div>
    </div>

    
  </div>
  <!-- END COLUMN 1 -->


  <div class="small-7 columns">
    <div id="pos_details" class="panel">
      <%=render partial: 'show', locals: {purchase_order: @purchase_order}%>
    </div>
  </div>

</div>

<%=javascript_tag do %>

purchase_order_index_init_listeners();

<% end %>