<% content_for :title, "Purchase Orders" %>

<%=page_title "Purchase Orders" %>

<div id="controls" style="float: left; margin-top: .25em; width: 75%">
  <%=select_tag :po_supplier, 
    options_from_collection_for_select(
      Supplier.all, 'id', 'name', @supplier_id), 
    style: "height: 2.5em;font-size:100%;width: 350px; padding: 0" %>
</div>
<br/>

<div class="row">
  <div id="items_container" class="column small-6">
      <%=render partial: 'purchase_orders/index/data_table', locals: {items_datatable: @items_datatable} %>
  </div>

  <div class="column small-6 large-5 end">
    <div id="pos_details">
      <%=render partial: 'purchase_orders/show', locals: {purchase_order: @purchase_order, status: @status}%>
    </div>


  </div>
</div>





<br/>
<br/>

<div class="row">

  <!-- START COLUMN 1 -->
  <div class="small-5 large-3 columns">
    <div class="po_panel">
        <ul class="po_date_filter po_filter_spacings">
          <li>From</li>
          <li>To</li>
          <li><%=date_field(:from, :date_filter)%></li>
          <li><%=date_field(:to, :date_filter)%></li>
        </ul>

        <ul class="po_filter po_filter_spacings">
          <li>Status</li>
          <li>
            <%=select_tag :po_status, options_for_select(['PENDING', 'CONFIRMED'], @status)%>
          </li>
        </ul>
    </div>

    <div class="po_panel">

      <div id="po_list">
      <%=render partial: 'purchase_orders/table', locals: {purchase_orders: @purchase_orders} %>
      </div>
    </div>

    
  </div>
  <!-- END COLUMN 1 -->




</div>

<%=javascript_tag do %>

purchase_order_index_init_listeners();

<% end %>