<h1>Purchase Orders</h1>

<div class="row">

  <!-- START COLUMN 1 -->
  <div class="small-5 columns">

      <table id="control_table">
        <tr>
          <th colspan="3">Filter</th>
        </tr>
        <tr>
          <td>Date</td>
          <td>From</td>
          <td>To</td>
        </tr>
        <tr>
          <td>Supplier</td>
          <td colspan="2"><%=select_tag :po_supplier, 
              options_from_collection_for_select(Supplier.all, 'id', 'name', @supplier_id), 
              include_blank: true%>
          </td>
        </tr>
        <tr>
          <td>Status</td>
          <td colspan="2"><%=select_tag :po_status, options_for_select(['PENDING', 'CONFIRMED'], @status)%>
          </td>
        </tr>
      </table>

      <div id="po_list">
      <%=render partial: 'table', locals: {purchase_orders: @purchase_orders} %>
      </div>

      <%= link_to 'New Purchase order', new_purchase_order_path %>

  </div>
  <!-- END COLUMN 1 -->


  <div id="pos_details" class="small-7 columns">
  <%=render partial: 'show', locals: {purchase_order: @purchase_order}%>
  </div>

</div>

<%=javascript_tag do %>

purchase_order_index_init_listeners();

<% end %>