<% content_for :title, "Item List" %>

<%=page_title "Item List" %>

  <div id="controls" style="float: left; margin-top: .25em; min-width: 500px">
    <%=select_tag :item_bases, 
      options_from_collection_for_select(
        ItemBase.all, 'id', 'name', @item_base_id), 
      style: "height: 2.5em;font-size:100%;width: 350px; padding: 0; font-weight: bolder" %>
  </div>

  <div style="min-width: 800px;max-width: 1000px" class="item_list">
      <table id="item_selector" class="display">
        <thead>
          <tr>
            <th style="width:20px">
              &nbsp;
            </th>
            <th>Name</th>
            <th>
              <span title="Regular / Wholesale">Price</span>
            </th>
            <th style="width:20px">Supplier</th>
          </tr>
        </thead>
        <tbody/>
      </table>
  </div>


<%=javascript_tag do %>
$(document).ready( function () {

$( document ).tooltip();
  columns = <%=raw @items_datatable.columns %>;
  columnDefs = [
    { "orderable": false, "targets": [0,-1,-2]},
    { "className": "dt-center", "targets": [0]}  //center checkbox
  ];

  $('#item_bases').change(item_base_index_ajax);

  $('#item_selector').dataTable( {
      "autoWidth": false,
      "scrollY": "370",
      "bScrollCollapse": false,
      "stateSave": true,
      "lengthChange": false,
      "paging": true,
      "pageLength": "100",
      "pagingType": "simple_numbers",
      "jQueryUI": false,
      "processing": true,
      "serverSide": true,
      "searching": true,
      "ajax": {"url": "<%=json_filter_by_item_bases_path%>", "type": "POST"},
      "columns": columns,
      "columnDefs": columnDefs,
      "order": [[1, 'asc']],
      "dom": 'T<"clear">lfrtip',
      "tableTools" : {
        "aButtons": [
          {
            "sExtends": "pdf",
            "sButtonText": "PDF",
            "mColumns": [ 1, 2, 3 ]
          }]
      }
      // , "drawCallback": function( settings ) {
      //     $('#controls').prependTo($('.dataTables_wrapper'));
      //   }
  } );

  //document.addEventListener("page:load", $('#item_selector').DataTable().ajax.reload());

  //Even listener so that when row is clicked. The checkbox in the row is toggled
  $('#item_selector').on('draw.dt', function() {
        $('#item_selector tr').unbind('click');

        $('.icb').on('click', function(event) {
           event.stopPropagation();
        });

        $('#item_selector tr').on('click', function() {
            checkbox = $(this).find('.icb');
            checkbox.click();
        });
  });


//END DOCUMENT READY
});



<% end %>


<br>

