<h2>Admin</h2>
<h3>Item Configuration</h3>
<ul>
  <li><%=link_to 'Attributes', attribs_path%></li>
  <li><%=link_to 'Categories', categories_path%></li>
  <li><%=link_to 'Units', units_path%></li>
</ul>
<h3>Suppliers</h3>
<ul>
  <li><%=link_to 'List', suppliers_path%></li>
</ul>
<h3>Items</h3>
<ul>
  <li><%=link_to 'List', items_path%></li>
</ul>