<h1>Listing attribs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attribs.each do |attrib| %>
      <tr>
        <td><%= attrib.name %></td>
        <td><%= link_to 'Show', attrib %></td>
        <td><%= link_to 'Edit', edit_attrib_path(attrib) %></td>
        <td><%= link_to 'Destroy', attrib, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attrib', new_attrib_path %>
