<div class"row">
<div class="column small-12">

<%=javascript_tag do %>
$(document).ready(function(){
  $('.toggler_link').hide_toggler();
  $('.show_help_link').hide_toggler();
});
<% end %>

<%= simple_form_for @item do |f| %>

    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<%=small_div do %>
  <div class="toggler_parent">
      <%=link_to 'Keyboard shortcuts', '', class: 'help show_help_link label secondary'%>
      <div id="help" class="togger_child hidden">
        <ul>
          <li><kbd>alt</kbd>+<kbd>b</kbd> -Add New Item Base</li>
          <li><kbd>alt</kbd>+<kbd>s</kbd> -Add New Supplier</li>
        </ul>
      </div>
  </div>
<% end %>

<table id="item_display">
  <tr>
    <th style="width: 11em"><%=f.label :name, "Item Base"%></th>
    </th>
    <td id="base_item_column">
      <%= f.association :item_base, label_method: :name, label: false, prompt: "Choose Item Base", input_html: {class: 'mousetrap'} %>
      <%=modal_link_to "Add", add_item_base_to_new_item_form_path, style: "padding: 0;margin:0" %>
    </td>
  </tr>
  <tr>
    <th><%=f.label :description%></th>
    <td><%= f.input :description, label: false%></td>
  </tr>
  <tr>
    <th><%=f.label :supplier%></th>
    <td id="supplier_column">
    <%= f.association :supplier, label: false, label_method: :name, prompt: "Choose a Supplier", input_html: {class: 'mousetrap'} %>
    <%=modal_link_to "Add", add_supplier_to_new_item_form_path, style: "padding: 0;margin:0"%>
    </td>
  </tr>
  <tr>
    <th><%=f.label :unit %></th>
    <td><%= f.input :unit, label: false, 
              collection: Unit.order(:name), 
              label_method: :name,
              value_method: :name, 
              prompt: "Choose a Unit" %></td>
  </tr>
  
  <% @base_attribs.each do | attrib_item_value | %>
    <%=render partial: 'attrib_input_row', 
              locals: { attrib: attrib_item_value.attrib, 
                        value: attrib_item_value.value} %>
  <% end if @base_attribs%>

</table>
<div class="row">
  <div class="small-12 columns">
    <%=modal_link_to "Add Attribute", list_attribs_path, class: 'button secondary expand' %>
   </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= f.button :submit, value: "Save", class: 'expand' %>
  </div>
</div>
<% end %>

</div>
</div>

<%=javascript_tag do %>

item_form_bind_key_listeners();
item_form_focus();

Mousetrap.stopCallback = function() { return false };

<% end %>