<%=page_title "Item List" %>

<%=form_tag destroy_multiple_items_path, method: :delete do %>
    <div id="items_actions" style="margin-bottom: -17px">
      <%=submit_tag 'Delete Checked', class: 'alert button tiny', data: { confirm: 'Delete Checked Items. Are you sure?' }%>
    </div>


<table id="item_selector">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Unit</th>
      <th>Supplier</th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% end %>

<%=javascript_tag do %>
  $(document).ready( function () {

  columns = <%=raw ItemsDatatable.columns %>;
  columnDefs = <%=raw ItemsDatatable.columDefs %>;

  $('#item_selector').dataTable( {
      "lengthChange": false,
      "paging": true,
      "pageLength": 20,
      "pagingType": "simple_numbers",
      "jQueryUI": false,
      "processing": true,
      "serverSide": true,
      "searching": false,
      "ajax": {"url": "<%=json_items_path%>", "type": "POST"},
      "columns": columns,
      "order": [[1, 'asc']],
      "dom": 'T<"clear">lfrtip',
      "tableTools" : {
        "aButtons": ["pdf", "print"]

      }
  } );

} );

<% end %>


<br>

<%= link_to 'New Item', new_item_path, class: 'button' %>
