<% content_for :title, "Item List" %>

<%=page_title "Item List" %>

<%=form_tag destroy_multiple_items_path, method: :delete do %>
    <div id="items_actions" style="margin: 2em 0 -5em 0">
      <%=submit_tag 'Delete Checked', class: 'alert button tiny', data: { confirm: 'Delete Checked Items. Are you sure?' }%>
    </div>


<table id="item_selector">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Unit</th>
      <th>Supplier</th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>

  </tbody>
</table>
<% end %>

<%=javascript_tag do %>
  $(document).ready( function () {

  columns = <%=raw ItemsDatatable.columns %>;
  columnDefs = [{
    "orderable": false, "targets": [0,-1,-2]
  }];

  $('#item_selector').dataTable( {
      "stateSave": true,
      "lengthChange": false,
      "paging": true,
      "pageLength": 100,
      "scrollY": "400px",
      "pagingType": "simple_numbers",
      "jQueryUI": false,
      "processing": true,
      "serverSide": true,
      "searching": true,
      "ajax": {"url": "<%=json_items_path%>", "type": "POST"},
      "columns": columns,
      "columnDefs": columnDefs,
      "order": [[1, 'asc']],
      "dom": 'T<"clear">lfrtip',
      "tableTools" : {
        "aButtons": [
          {
            "sExtends": "pdf",
            "sButtonText": "PDF",
            "mColumns": [ 1, 2, 3 ]
          }]
      }
  } );

} );

<% end %>


<br>

<%= link_to 'New Item', new_item_path, class: 'button' %>
