<div class="row">
<div class="columns">

<%= form_for(@item_base) do |f| %>
  <% if @item_base.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_base.errors.count, "error") %> prohibited this item_base from being saved:</h2>

      <ul>
      <% @item_base.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit value: 'Save', class: 'button expand' %>
  </div>
<% end %>

</div>
</div>