<%= stylesheet_link_tag    "sales/all", media: "all" %>
<!--%=image_tag 'gear.png', id:"opener", style: 'cursor: pointer; cursor: hand;'%-->
<div id="error" title="No Items Selected" style="display:none">
	<%=image_tag 'But-why-meme.png', style: 'margin-left: 30px;'%>
</div>

<div id="dialog" title="Add Cash Payment" style="display:none">
	<!--%=form_tag 'add/payment/cash', id: 'payment-frm' do%-->
		Cash Amount: <%=text_field_tag :cash_amount, nil, disabled: true%>
	<!--%end%-->
</div>

<div id="check_payment_dialog" title="Add Check Payment" style="display:none">
	<!--%=form_tag 'add/payment/cash', id: 'payment-frm' do%-->
		Date: <%=date_field_tag :check_number, nil%>
		Check Number: <%=text_field_tag :check_number, nil%>
		Account Number: <%=text_field_tag :account_number, nil%>
		Account Name: <%=text_field_tag :account_name, nil%>
		Bank: <%=text_field_tag :bank, nil%>
		Branch: <%=text_field_tag :bank, nil%>
	<!--%end%-->
</div>


<%=form_tag '', id: 'sales-frm', class: 'sales-frm' do%>
<h4>ID: S071500001 </h4>
<div class="customer_details">
	<div class="left">
		<span>Customer :</span>
		<%=text_field_tag 'customer_name', "Juan Dela Cruz", style: "display:inline"%>
	</div>
	<div class="right">
		<span>Date :</span>
		<%=text_field_tag 'customer_name', "Jan 1, 1970", style: "display:inline"%>
	</div>
</div>
<div style="width:714px; height:350px;overflow-y: scroll">
	<table style="min-height:345px;">
		<thead>
			<tr>
				<th></th>
				<th style="width: 415px; height: 53px;">Item</th>
				<th style="width: 5em;text-align:center">Qty</th>
				<th>Unit Price</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	
</div>

<div id="summary">
	<div class="left" style="margin: 1em">
		Number of Items: 4
	</div>

	<div class="right">
		<label>Total</label><p>800.00</p>
		<label>VAT(%12)</label><p>800.00</p>
		<label>Grand Total</label><p>800.00</p>
	</div>
</div>


<div id="controls" style="margin: 40px 10px 10px 10px; width: 100%">
	<%= link_to '(A) Add Item', new_item_sales_path, id: 'add_item', class: 'pos_action', remote: true%>
	<%= link_to '(P) Add Payment', '#', id: 'add_payment', class: 'pos_action'%>
</div>
<div id="footer" class="details">
	<div class="left-5">
		<span>Prepared By:</span>
		<%=text_field_tag :item_name, "Baste"%>
	</div>
	<div class="right-5">
		<span>Chcked By:</span>
		<%=text_field_tag :checked_by, "Cambal"%>
	</div>
</div>
<!-- END FORM -->
<% end %>
<%=javascript_include_tag 'sales_new'%>