<%=form_tag '', class: 'sales-frm' do%>
<div class="header">
<span class="title">E. Estanislao General Merchansize</span>
<span class="address">#113 JP Rizal Street, Calumpang Marikina</span>
<span class="address">Tel. 645-3017; Fax. 123-4567</span>
</div>

<div class="details">
	<div class="left">
		<span>Customer :</span>
  		<%=text_field_tag 'customer_name', "Juan Dela Cruz", style: "display:inline"%>
  	</div>

	<div class="right">
		<span>Date :</span>
  		<%=text_field_tag 'customer_name', "Jan 1, 1970", style: "display:inline"%>
  	</div>
</div>

<table style="width:698px">
	<thead>
		<tr>
			<th style="width: 4em;text-align:center">Qty</th>
			<th>Item</th>
			<th>Unit Price</th>
			<th>Amount</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="qty">2</td>
			<td>Adhesive 888 Ca 20g (Piece)</td>
			<td>100.00</td>
			<td>200.00</td>
		</tr>
		<tr>
			<td class="qty">2</td>
			<td>Adhesive 888 Ca 20g (Piece)</td>
			<td>100.00</td>
			<td>200.00</td>
		</tr>
		<tr>
			<td class="qty">2</td>
			<td>Adhesive 888 Ca 20g (Piece)</td>
			<td>100.00</td>
			<td>200.00</td>
		</tr>
		<tr>
			<td class="qty"><%=text_field_tag :qty, 1%></td>
			<td><%=text_field_tag :item_name, "Adhesive 888 Ca 20g (Piece)"%></td>
			<td>100.00</td>
			<td>200.00</td>
		</tr>
		<tr class="total" style="text-align: right;">
			<td class="qty"></td>
			<td>Total:</td>
			<td colspan="2">800.00</td>
		</tr>
		<tr class="discount" style="text-align: right;">
			<td class="qty"></td>
			<td>Discount:</td>
			<td colspan="2">-10.00</td>
		</tr>
		<tr class="tax" style="text-align: right;">
			<td class="qty"></td>
			<td>Tax (%12):</td>
			<td colspan="2">94.80</td>
		</tr>
		<tr class="total" style="text-align: right;">
			<td class="qty"></td>
			<td>Grand Total:</td>
			<td colspan="2">884.80</td>
		</tr>

	</tbody>

</table>

<!-- END FORM -->
<% end %>