<p id="notice"><%= notice %></p>

<%=simple_form_for @cloned_item, url: create_similar_items_path do | f | %>
<%=hidden_field_tag :original_item_id, @item.id%>

<table id="item_display">
  <tr>
    <th colspan="2">
      <%=@item.name %> <%=link_to "Show all types", @item.item_base, class: 'info label' %>
    </th>
  </tr>
  <tr>
    <th style="width: 11em"><%=label_tag :supplier %></th>
    <td> 
      <%= @item.supplier.name %>
      <!-- %= f.association :supplier, label: false, label_method: :name, prompt: "Choose a Supplier", input_html: { class: 'mousetrap'} %-->
    </td>
  </tr>
  <tr>
    <th><%=label_tag :unit %></th>
    <td>
      <%= @item.unit %>
    </td>
  </tr>
  
  <% @item.attrib_values.each do | av | %>
  <tr>
    <th><%=av.attrib.name%></th>
    <td><%=av.value%></td>
  </tr>
  <% end %>

</table>
<!-- %= f.button :submit, value: "Save", class: 'expand' %-->
<% end %>



<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
