<div id="items" class="purchase_orders_item_select">
  <%=form_tag add_items_purchase_orders_path, method: :post, data: {remote: true} do %>
    <table id="item_selector" class="display compact" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name(Unit)</th>
          <th>C</th>
          <th>Order</th>
        </tr>
      </thead>

      <tbody>

      </tbody>
    </table>
    <div id="items_actions">
      <%=submit_tag 'Add', class: 'pos_action tiny', style: "float: right"%>
    </div>
  <% end %>

  <%=javascript_tag do %>
    $(document).ready( function () {
      columns = <%=raw items_datatable.columns %>;
      columnDefs = [
        {"orderable": false, "targets": [0,1,2]},
        { "className": "dt-center", "targets": [1]}  //center conf oder column
      ];

      $('#item_selector').dataTable( {
          "stateSave": true,
          "info": false,
          "lengthChange": false,
          "autoWidth": true,
          "paging": false,
          "pageLength": 10000,
          "scrollY": "300px",
          "scrollCollapse": false,
          "pagingType": "simple_numbers",
          "jQueryUI": false,
          "processing": false,
          "serverSide": true,
          "searching": true,
          "ajax": {"url": "<%=json_filter_by_supplier_items_path%>", "type": "POST"},
          "columns": columns,
          "columnDefs": columnDefs,
          "order": [[1, 'asc']],
          "dom": 'lfrtip'
      } );

      $('#item_selector').on('draw.dt', function() {
           $('.order_qty').spinner({min: 0});
      });

  } );

  <% end %>
</div>