<div id="controls">
    Keyboard Controls:
    <ul style="list-style-type:none">

    <%= render partial: 'sales/actions/customer', locals: {link_name: 'Customer'}%>
    <%= render partial: 'sales/actions/add_item', locals: {link_name: 'Add Item'}%>
    <%= render partial: 'sales/actions/add_payment',   locals: {link_name: 'Add Payment'}%>
    <%= render partial: 'sales/actions/confirm_cancel',locals: {link_name: 'Cancel Sale'}%>
    <%= render partial: 'sales/actions/close', locals: {link_name: 'End Sale'}%>
    </ul>
</div>
<div id="disbaled" style="display:none">
    <%= render partial: 'sales/actions/prepare_order', locals: {link_name: '(2) Prepare Order'}%>
    <%= render partial: 'sales/actions/check_order',   locals: {link_name: '(3) Check Order'}%>
</div>