<%=form_tag destroy_multiple_item_sales_path, id: 'sales-frm', class: 'sales-frm', method: 'DELETE', remote: true do%>
<h4>SALE #: <%=@sale.number%> </h4> 
<% if @sale.status == 'COMPLETED'%>
<div style="float:right;margin-top:-2.5em;color:red">(This sale is marked as completed)</div>

<% end %>
<%=hidden_field_tag :sale_id, @sale.id%>
<div class="customer_details">
	<div class="left">
		<span>Customer :</span>
		<%=text_field_tag 'customer_name', @sale.customer_name, style: "display:inline;background:none", disabled: true%>
	</div>
	<div class="right">
		<span>Date :</span>
		<%=text_field_tag 'customer_name', @sale.created_at.to_s(:sale_date), style: "display:inline"%>
	</div>
</div>
<div style="height:350px;overflow-y: scroll">
	<table>
		<thead>
			<tr>
				<th>
					<%=render '/sales/actions'%>

				</th>
				<th style="width: 415px; height: 53px;">Item</th>
				<th style="width: 5em;text-align:center">Qty</th>
				<th>Unit Price</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<%=render partial: 'sales/item_sale', collection: @sale.item_sales%>

		</tbody>
	</table>
	
</div>
<div id="summary" style="margin-top:2em">
<%=render 'sales/form_summary'%>
</div>
<div id="footer" class="details" style="margin-top:2em">
	<div class="left-5">
		Number of Items: <span id="number_of_items"><%=@sale.item_sales.count%></span>
	</div>
	<!--div class="left-5">
		<span>Prepared By:</span>
		<span>Baste</span>
	</div>
	<div class="right-5">
		<span>Chcked By:</span>
		<span>Cambal</span>
	</div-->
</div>

<!-- END FORM -->
<% end %>