<%=form_tag '', id: 'sales-frm', class: 'sales-frm' do%>
<h4>ID: S071500001 </h4>
<div class="customer_details">
	<div class="left">
		<span>Customer :</span>
		<%=text_field_tag 'customer_name', "Juan Dela Cruz", style: "display:inline"%>
	</div>
	<div class="right">
		<span>Date :</span>
		<%=text_field_tag 'customer_name', "Jan 1, 1970", style: "display:inline"%>
	</div>
</div>
<div style="height:350px;overflow-y: scroll">
	<table>
		<thead>
			<tr>
				<th>
					<%=render '/sales/actions'%>

				</th>
				<th style="width: 415px; height: 53px;">Item</th>
				<th style="width: 5em;text-align:center">Qty</th>
				<th>Unit Price</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<%=render 'sales/item_row'%>
		</tbody>
	</table>
	
</div>
<div id="summary">
	<div class="right">
		<label>Total</label><p>800.00</p>
		<label>VAT(%12)</label><p>800.00</p>
		<label>Grand Total</label><p>800.00</p>
	</div>
</div>
<div id="footer" class="details">
	<div class="left-5">
		Number of Items: 4
	</div>
	<div class="left-5">
		<span>Prepared By:</span>
		<span>Baste</span>
	</div>
	<div class="right-5">
		<span>Chcked By:</span>
		<span>Cambal</span>
	</div>
</div>

<!-- END FORM -->
<% end %>