<%=javascript_include_tag 'sales_common'%>
<div id="focus_indicator" style="width: 10px; height: 10px; display: none; float: left; position: absolute; background: green;">
</div>
<!--%=image_tag 'gear.png', id:"opener", style: 'cursor: pointer; cursor: hand;'%-->
<div id="error" title="No Items Selected" style="display:none">
  <%=image_tag 'But-why-meme.png', style: 'margin-left: 30px;'%>
</div>
<div class="sales_panels">
  <div id="sales_form_panel">
    <%=render 'sales/form' %>
    <%=render 'sales/controls' %>
  </div>

  <div id="sales_right_panel">
    Keyboard Controls:
    <ul style="list-style-type:none">
      <li><kbd>0</kbd> - Customer</li>
      <li><kbd>1</kbd> - Add Item</li>
      <li><kbd>4</kbd> - Add Payment</li>
      <li><kbd>5</kbd> - Cancel</li>
      <li><kbd>6</kbd> - Close</li>
    </ul>
    <div id="summary_vertical">
      <%=render 'sales/form_summary'%>
    </div>
  </div>

  <div id="sales_list_panel" style="display:none">
    <!--%=render 'sales/list_panel'%-->
  </div>
</div> <!-- END sales_panels -->