<%=javascript_include_tag 'sales_common'%>
<%= stylesheet_link_tag    "sales/all", media: "all" %>
<div id="focus_indicator" style="width: 10px; height: 10px; display: none; float: left; position: absolute; background: green;">
</div>
<!--%=image_tag 'gear.png', id:"opener", style: 'cursor: pointer; cursor: hand;'%-->
<div id="error" title="No Items Selected" style="display:none">
	<%=image_tag 'But-why-meme.png', style: 'margin-left: 30px;'%>
</div>
<div class="sales_panels">
	<div id="sales_form_panel">
		<%=render 'sales/form' %>
		<%=render 'sales/controls' %>
	</div>
	<div id="sales_list_panel">
		<h4>Sales In Progress...</h4>
		<ul>
			<li>S071500001 - New by Secretary #1 since 1min ago</li>
			<li>S071500002 - Prepare by Cambal since 45mins ago</li>
			<li>S071500003 - Checked by Baste since 30secs ago</li>
			<li>S071500004 - New by Secretary #2</li>
		</ul>
	</div>
</div> <!-- END sales_panels -->