<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "POS", "#"%></h1>
    </li>
  </ul>

<%=render 'user_manager/session_details'%>
<%=render 'user_manager/controlls'%>

<% if user_signed_in? %>
<section id="manage_items" class="top-bar-section">
  <ul class="right">
    <li class="has-dropdown">
      <%=link_to 'Manage Items', user_manager.users_path%>
        <ul class="dropdown">
          <li><%=link_to 'List Categories', main_app.categories_url%></li>
          <li><%=link_to 'Add Category', 
            main_app.new_category_path, 
            data: {:"reveal-ajax" => true, :"reveal-id" => "modal_form"} %></li>
        </ul>
    </li>
  </ul>
</section>
<% end %>

</nav>

<div id="modal_form" class="reveal-modal" data-reveal>
</div>
