<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false; sticky_on: all">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "POS", main_app.root_url%></h1>
    </li>
  </ul>
  <%=render 'user_manager/session_details'%>
  <% if user_signed_in? %>
  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown">
        <%=link_to 'Inventory', "#"%>
        <ul class="dropdown">
          <li><%=link_to 'Item List', '#', :onclick => "Turbolinks.visit('#{main_app.items_path}')"%></li>
          <!-- <li><%=link_to 'Purchase Orders', main_app.purchase_orders_path%></li> -->
          <!-- <li><%=link_to 'Deliveries', main_app.deliveries_path%></li> -->
        </ul>
      </li>
    </ul>
  </section>
  <section id="admin" class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown">
        <%=link_to 'Admin', "#"%>
        <ul class="dropdown">
          
          <li><%=link_to 'Manage Users', user_manager.users_path%></li>
          <li class="divider"></li>
          <li><%=link_to 'Attributes', main_app.attribs_path%></li>
          <li><%=link_to 'Categories', main_app.categories_path%></li>
          <li><%=link_to 'Units', main_app.units_path%></li>
          <li class="divider"></li>
          <li><%=link_to 'Suppliers', main_app.suppliers_path%></li>
          <li class="divider"></li>
          <li><%=link_to 'Item List', main_app.items_path%></li>
          <li><%=link_to 'Item - Add New', main_app.new_item_path%></li>
        </ul>
      </li>
    </ul>
  </section>
  <% end %>
</nav>

<%=javascript_tag do %>
//Remove all links from tab cycle
$(document).ready(function(){
$('nav a').attr("tabindex", -1);
});
<% end %>
<div id="modal_form" class="reveal-modal" style="width:500px" data-reveal>
</div>