<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "POS", main_app.portal_index_path%></h1>
    </li>
  </ul>

<%=render 'user_manager/session_details'%>

<% if user_signed_in? %>
<section id="admin" class="top-bar-section">
  <ul class="right">
    <li class="has-dropdown">
      <%=link_to 'Admin', "#"%>
        <ul class="dropdown">
          
          <li><%=link_to 'Manage Users', user_manager.users_path%></li>

          <li class="has-dropdown">
            <a href="#">Item Configuration</a>
            <ul class="dropdown">
              <li><%=link_to 'Attributes', main_app.attributes_path%></li>
              <li><%=link_to 'Categories', main_app.categories_path%></li>
              <li><%=link_to 'Units', main_app.units_path%></li>
            </ul>
          </li>

          <li><%=link_to 'Suppliers', main_app.suppliers_path%></li>

        </ul>
    </li>
  </ul>
</section>
<% end %>

</nav>

<div id="modal_form" class="reveal-modal" data-reveal>
</div>
