<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
  </head>
  <body id="content">
    <%= render 'layouts/navigation'%>
    
        <div id="wait_message" class="hidden">
          <%=image_tag 'loading_bar.gif', size: "125x20"%>
        </div>

        <div class="row full-height" style="max-width: 100%;">
          <div class="row">
            <% flash.each do |name, msg| %>
            <div id="pos_alert" class="column small-6 small-centered" style="margin-top: 1em;">
              <div data-alert class=" alert-box warning">
                <%= content_tag :div, msg, id: "flash_#{name}" %>
                <a href="#" class="close">&times;</a>
              </div>
            </div>
            <% end %>
        </div>

      <div style="margin: 1%">
        <%= yield %>
      </div>
  
    </body>
  </html>