<!DOCTYPE html>
<html>
<head>
  <title>UserManager</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="content">

  <div id="wait_message" class="hidden">
    <%=image_tag 'loading_bar.gif', size: "125x20"%>
  </div>


<%= render 'layouts/navigation'%>


<div id="user_manager" class="row">
<br>
<% flash.each do |name, msg| %>
   <div id="pos_alert" class="column small-6 small-centered">
      <div data-alert class=" alert-box warning">
      <%= content_tag :div, msg, id: "flash_#{name}" %>
      <a href="#" class="close">&times;</a>
      </div>
    </div>
  <% end %>
  
  <div class="small-12 columns">
    <%= yield %>
  </div>
</div>
</body>
</html>
